anyio
beautifulsoup4
bs4
certifi
charset-normalizer
colorama
fake-useragent
fernet
getuseragent
h11
httpcore
tenacity
httpx
idna
markdown-it-py
mdurl
pip
pyaes
pyfiglet
Pygments
pyTelegramBotAPI
python-telegram-bot
requests
rich
six
sniffio
soupsieve
stripe
telebot
tqdm
typing_extensions
urllib3
user_agent
useragent
